## PostgreSQL
POSTGRES_USER=novtecas
POSTGRES_PASSWORD=change_me
POSTGRES_DB=novtecas_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

## Strapi
STRAPI_HOST=0.0.0.0
STRAPI_PORT=1337
APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=change_me
ADMIN_JWT_SECRET=change_me
TRANSFER_TOKEN_SALT=change_me
JWT_SECRET=change_me

DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=novtecas_db
DATABASE_USERNAME=novtecas
DATABASE_PASSWORD=change_me

## Strapi Admin (auto-seed)
STRAPI_ADMIN_FIRSTNAME=Admin
STRAPI_ADMIN_LASTNAME=NovTecAs
STRAPI_ADMIN_EMAIL=admin@novtecas.ru
STRAPI_ADMIN_PASSWORD=Admin123!

## Next.js
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_INTERNAL_URL=http://cms:1337
NEXT_PUBLIC_SITE_URL=https://novtecas.ru
STRAPI_API_TOKEN=

## Analytics
NEXT_PUBLIC_YM_ID=
